@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../../../../assets/fontes/PressStart2P-Regular.ttf');
}

body {
    font-family: PressStart2P-Regular;
    padding:1em;
    background-color: black;
    color: aliceblue;
    text-align: justify;
}

body strong {
    text-decoration: underline;
}