body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../../../../assets/images/Golden\ dinner\,\ Moonshen\ Timojim.gif);
    background-image: linear-gradient(transparent, transparent), url(../../../../assets/images/Golden\ dinner\,\ Moonshen\ Timojim.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Define a altura do body como 100% da altura da janela */
}

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../../../../assets/fontes/PressStart2P-Regular.ttf');
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.568);
}

h1, h3, a {
    font-family: PressStart2P-Regular;
    text-align: center;
    color: aliceblue;
}

a {
    display: flex;
    justify-content: center;
}

a#reference {
    display: flex;
    justify-content: flex-end;
    position: absolute; /* Muda o posicionamento para absoluto */
    bottom: 10px; /* Posiciona o elemento 10 pixels acima da parte inferior do body */
    right: 10px;
}